Example 1

In [1]:
print("Hello world")

Hello world

Example 2

In [3]:
a=int(input())
b=int(input())
print(a+b)

 2
 3

5

3 Python Identation

In [4]:
if 5>2:
    print("5 is greater than 2")
if 5 >2 :
         print("5 is greater than 2")

5 is greater than 2
5 is greater than 2

 4 python variables

In [5]:
x =5
y="Hello world"
print(x)
print(y)

5
Hello world

5 comment

In [6]:
#this is comment
x="Hello world"
print(x)

Hello world

6. Correct file extension for python files

.py

7.correct command line syntax for cheking if python is installed on your computer(also to check the python version)

python--version

8.correct syntax to exit the python command line interface

In [1]:
exit()

9.Python interpreter version information

In [1]:
import sys
print(sys.version)

3.12.7 | packaged by Anaconda, Inc. | (main, Oct  4 2024, 13:17:27) [MSC v.1929 64 bit (AMD64)]

10.comment lines

In [2]:
'''
This is a comment
written in
more than just one line'''
print("Hello world!")

Hello world!

11.comments line

In [3]:
'''This is a comment
written in 
more than just one line'''

'This is a comment\nwritten in \nmore than just one line'

Variables

12.A variable is created the moment you first assign a value to it

In [4]:
x=5
y="Jack"
print(x)
print(y)

5
Jack

13.Variable do not need to be declared with any particular type ,and can even change type after they have been set

In [5]:
x=4
x="Miko"
print(x)

Miko

14.If you want to specify the data type of a variable,this can be done with casting

In [6]:
x=str(3) #x will be '3
y=int(3) # y will be 3
z=float(3) #z will be 3.0

15.You can get the data type of a variable with the type()function

In [7]:
x=5
y="Hii"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

16.String variables can be declared either by using single or double quotes;

In [8]:
x="Peter"
#is the same as
x='Peter'

17.Variable names are casr-sensitive

In [9]:
a=4
A="Bili"
#A will not overwrite a

18. Variable names

In [11]:
#Legal variable names:
myvar="Jon"
my_var="Jon"
_my_var="Jon"
myVar="Jon"
MYVAR="Jon"
myvar2="Jon"

In [13]:
#Illegal variable names:
2myvar="Jon"
my-var="Jon"
my var="Jon"

SyntaxError: invalid decimal literal (4047427076.py, line 2)

In [15]:
#CamelCase
myVariableName="Jon"
#PascalCase
#Each word starts with a capital letter
MyVariableName="jon"
'''SnakeCase
Each word is seprated by an underscore character:'''
my_variable_name="Jon"

19.Multiple values

In [17]:
#Python allows you to assign values to multiple variables in one line
x,y,z="Banana","Apple","Lemon"
print(x)
print(y)
print(z)

Banana
Apple
Lemon

In [20]:
#you can assign the same value to mupltiple variables in one line:
x=y=z="Beibei"
print(x)
print(y)
print(z)

Beibei
Beibei
Beibei

In [21]:
#Unpack a list
fruits=["Cherry","Grape","Orange"]
x,y,z=fruits
print(x)
print(y)
print(z)

Cherry
Grape
Orange

In [22]:
#correct syntax to add the valur "Hello" to 3 variables in one statement
x=y=z="Hello"

20.Output variables

In [23]:
x="Python is awsome"
print(x)

Python is awsome

In [24]:
#In the print() function,you output the multiple variables,seprated by a comma:
x="Python"
y="is"
z="awsome"
print(x,y,z)

Python is awsome

In [29]:
#you can alse use the + operator to output multiple variables:
x="Python "
y="is "
z="awsome"
print(x + y + z)

Python is awsome

In [30]:
#For numbers,the + character work as a mathematical operator:
x=10
y=9
print(x+y)

19

In [31]:
#In the print() function,when you try to combine a string and a number with + operator,python will gve you an error:
x=5
y="li"
print(x+y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

21.Global variables

In [33]:
#Create a function outsideof a funtion,anduse it inside the funtion
x="awsome"
def myfunc():
    print("Python is " +x)
myfunc()

Python is awsome

In [34]:
#Create a variable inside a function,with same name as the global variable
x="awsome"
def myfunc():
    x="fantastic"
    print("Pythom is "+x)
myfunc()
print("Python is " +x)

Pythom is fantastic
Python is awsome

In [37]:
#if you use the global keyword,the variable belongs to the global scope
def myfunc():
    global x
    x="fantastic"
myfunc()
print("Python is "+x)

Python is fantastic

In [38]:
#to change the value of global variable inside a function, refer to the variable by using the global keyword:
x="awsome"
def myfunc():
    global x
    x="amazing"
myfunc()
print("Python is "+x)

Python is amazing

21.Data types

In [39]:
#Print the data type of given variable:
x=5
print(type(x))

<class 'int'>

In [40]:
x="Hello"
print(type(x))

<class 'str'>

In [41]:
x=20.6
print(type(x))

<class 'float'>

In [42]:
x=1j
print(type(x))

<class 'complex'>

In [43]:
x=["apple","banana","cherry"]
print(type(x))

<class 'list'>

In [44]:
x=("apple","banana","lemon")
print(type(x))

<class 'tuple'>

In [45]:
x=range(6)
print(type(x))

<class 'range'>

In [47]:
x={"name":"Miko","age":19}
print(type(x))

<class 'dict'>

In [48]:
x={"aplle","banana","cherry"}
print(type(x))

<class 'set'>

In [51]:
x=frozenset({"apple","banana","cherry"})
print(type(x))

<class 'frozenset'>

In [52]:
x=True
print(type(x))

<class 'bool'>

In [53]:
x=b"Hello"
print(type(x))

<class 'bytes'>

In [54]:
x=bytearray(5)
print(type(x))

<class 'bytearray'>

In [56]:
x=memoryview(bytes(5))
print(type(x))

<class 'memoryview'>

In [57]:
x=None
print(type(x))

<class 'NoneType'>

22.Numbers

In [58]:
x=1 #int
y=2.3 #float
z=1j # complex
#To verify the type of any object in python,use the type function:
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [59]:
#Integers:
x=1122234
y=1
z=-34567543
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [60]:
#Floats
x=1.3
y=3.67
z=-234.98
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [61]:
#Complex
x=3+5j
y=5j
z=-5j
print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [63]:
#Convert from one type to another
x=1 #int
y=2.8 #float
z=5j #complex
#convert from int to float
a=float(x)
#convert from float to int
b=int(y)
#convert from int to complex
c=complex(z)
print(a)
print(b)
print(c)
print(type(a))
print(type(b))
print(type(c))

1.0
2
5j
<class 'float'>
<class 'int'>
<class 'complex'>

In [64]:
#import the random module,and display a random nujmber between 1 and 9:
import random
print(random.randrange(1,10))

2

23.Casting

In [65]:
#Integers
x=int(1) #x will be 1
y=int(2.8) # y will be 2
z=int("3") # z will be 3

In [66]:
#Floats
x=float(1) # x will be 1.0
y=float(2.8) # y will be 2.8
z=float("4.5") #z will be 4.5

In [67]:
#Strings 
x=str("s2") # x will be s2
y=str(2) #y will be 2
z=str(2.9) #z will be 2.9

24.Strings

In [68]:
#You can display a string literal with the print() function:
print("Hello")
print('Hello')

Hello
Hello

In [70]:
#You can use the quotes inside a string,as long as they don't mathch the quote surrounding the string:
print("It's alright")
print("He is called 'Johnny'")
print('He is called "Johnny"')

It's alright
He is called 'Johnny'
He is called "Johnny"

In [72]:
#Assigning a string to a variable is done with the variable name followed by an equal sign and the string  
a ="Hello"
print(a)

Hello

In [74]:
#You can use the three double quotes
a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [76]:
#Or three single quotes
a = '''Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.'''
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [77]:
#Get the character at position 1(remember that the first character has the position 0):
a="Hello,world"
print(a[1])

e

In [80]:
#Loop through the letters in the word "banana"
for x in "banana":
    print(x)

b
a
n
a
n
a

In [81]:
#the len() function returns the length of a string
a="Hello,world"
print(len(a))

11

In [82]:
#Check if "Free" is present in the following text
txt="The best things in life are free!"
print("free" in txt)

True

In [83]:
#Print if only "free" is present:
txt ="The best things in life are free"
if "free" in txt:
    print("Yes,'free'is present")

Yes,'free'is present

In [84]:
#check if "expensive"is not present in the following text:
txt="The best things in life are free"
print("expensive" not in txt)

True

In [86]:
#Print only if "expensive" is not present:
txt= "Best thins in life are free"
if "expensive" not in txt:
    print("No,'expensive' is not present")

No,'expensive' is not present

25.Slicing strings

In [87]:
#Gets the character from position 2 to position 5(not included):
b="Hello,world!"
print(b[2:5])

llo

In [88]:
#Gets the character from starts to position 5(not included):
b="Hello ,world!"
print(b[:5])

Hello

In [89]:
#Get the character from position 2, and all the way to the end:
b="Hello,world!"
print(b[2:])

llo,world!

In [90]:
'''Get the characters:

From: "o" in "World!" (position -5)

To, but not included: "d" in "World!" (position -2):'''

b = "Hello, World!"
print(b[-5:-2])

orl

26. Modify string

In [91]:
#The upper() method returns the string in upper case:
a="Hello,world!"
print(a.upper())

HELLO,WORLD!

In [92]:
#The lower() methond returns the string in lower case:
a="Hello,world!"
print(a.lower())

hello,world!

In [3]:
#The strip() method removes any whitespace frome the begnning or the end;
a=" Hello,world! "#a will be "Hello,wordl!"
print(a.strip())

Hello,world!

In [7]:
#The replace() method replaces a string with another string:
a="Hello world!"
print(a.replace("H","J"))

Jello world!

In [11]:
#The split() method splits string into substrings if it find instances of the separator:
a="Hello world!"
print(a.split(","))

['Hello world!']

27.String Concatenation

In [14]:
#Merge variable a with variable b into variable c:
a="Hello,"
b="world!"
c=a+b
print(c)

Hello,world!

In [18]:
#To add a space between them:
a="Hello"
b="world"
c=a+" "+b
print(c)

Hello world

28.String Format

In [21]:
age=36
txt="My naame is John,my age is"+age
print(txt)

TypeError: can only concatenate str (not "int") to str

In [27]:
#Create an f-string
age=36
txt=f"my name is John,my age {age}"
print(txt)

my name is John,my age 36

In [29]:
#Add a placehoders for a price variable:
price=34
txt=f"The price is {price} dollars"
print(txt)

The price is 34 dollars

In [31]:
#Display the price with 2 decimals:
price=56
txt=f"The price is {price:.2f}"
print(txt)

The price is 56.00

In [33]:
txt=f"The price is {23*12} dollars"
print(txt)

The price is 276 dollars

29.Escape character

In [38]:
txt="We are the so-called "Viking" from the north"

SyntaxError: invalid syntax (3895363916.py, line 1)

In [40]:
#The escape character allows you to use double quotes when you normally would not be allowed
txt="We are so-called \"vikings\" from thw north"
print(txt)

We are so-called "vikings" from thw north

In [42]:
txt="We are so-called \'viking\' from the north."
print(txt)

We are so-called 'viking' from the north.

In [44]:
txt="We are so-called \\viking\\ from the north."
print(txt)

We are so-called \viking\ from the north.

In [46]:
txt="We are so-called \nviking from the north"
print(txt)

We are so-called
viking from the north

In [48]:
txt="we are so-called \tviking from the north."
print(txt)

we are so-called 	viking from the north.

In [50]:
txt="We are so-called \bviking from the north."
print(txt)

We are so-calledviking from the north.

In [52]:
txt="We are so-called \fviking  from the north."
print(txt)

We are so-called viking  from the north.

30.String methods

In [61]:
txt="hello, and welcome to my world."
x=txt.capitalize()
print(x)

Hello, and welcome to my world.

In [65]:
txt="Hello,This is My World!"
x=txt.casefold()
print(x)

hello,this is my world!

In [67]:
txt="banana"
x=txt.center(20)
print(x)

       banana

In [69]:
txt="I love cherry,cherry is my favorite fruit"
x=txt.count("cherry")
print(x)

2

In [73]:
txt = "My name is St√•le"
x=txt.encode()
print(x)

b'My name is St\xc3\xa5le'

In [75]:
txt="Hello,welcome to my world."
x=txt.endswith(".")
print(x)

True

In [77]:
txt="H\te\tl\tl\to"
x=txt.expandtabs(2)
print(x)

H e l l o

In [79]:
txt="Hello,welcome to my world."
x=txt.find("welcome")
print(x)

6

In [81]:
txt="For only {price:.2f} dollars"
print(txt.format(price=49))

For only 49.00 dollars

In [83]:
txt="hello,welcome to my world"
x=txt.index("welcome")
print(x)

6

In [87]:
txt="Company12"
x=txt.isalnum()
print(x)

True

In [91]:
txt="CompanyX"
x=txt.isalpha()
print(x)

True

In [95]:
txt="Company123"
x=txt.isascii()
print(x)

True

In [97]:
txt="1234"
x=txt.isdecimal()
print(x)

True

In [101]:
txt="23456"
x=txt.isdigit()
print(x)

True

In [103]:
txt="demo"
x=txt.isidentifier()
print(x)

True

In [105]:
txt="hello world"
x=txt.islower()
print(x)

True

In [107]:
txt="54332"
x=txt.isnumeric()
print(x)

True

In [109]:
txt="Hello, are you #1 ?"
x=txt.isprintable()
print(x)

True

In [111]:
txt="   "
x=txt.isspace()
print(x)

True

In [113]:
txt="Hello,And Welcome To My world"
x=txt.istitle()
print(x)

False

In [115]:
txt="HELLO"
x=txt.isupper()
print(x)

True

In [117]:
mytuple={"hi","hello","salem"}
x="*".join(mytuple)
print(x)

hello*salem*hi

In [121]:
txt = "banana"

x = txt.ljust(20)

print(x, "is my favorite fruit.")

banana               is my favorite fruit.

In [123]:
txt="Hello,My World"
x=txt.lower()
print(x)

hello,my world

In [129]:
txt = "     banana     "

x = txt.lstrip()

print("of all fruits", x, "is my favorite")

of all fruits banana      is my favorite

In [133]:
txt = "Hello Sam!"
mytable = str.maketrans("S", "P")
print(txt.translate(mytable))

Hello Pam!

In [139]:
txt="I could eat cherry all day"
x=txt.partition("cherry")
print(x)

('I could eat ', 'cherry', ' all day')

In [143]:
txt="I like cherry"
x=txt.replace("cherry","apple")
print(x)

I like apple

In [145]:
txt = "Mi casa, su casa."

x = txt.rfind("casa")

print(x)

12

In [147]:
txt = "Mi casa, su casa."

x = txt.rindex("casa")

print(x)

12

In [151]:
#Return 20 charaters long,right justified version of the word "Cherry"
txt="Cherry"
x=txt.rjust(20)
print(x,"is my favorite")

              Cherry is my favorite

In [161]:
txt = "I could eat bananas all day, bananas are my favorite fruit"

x = txt.rpartition("bananas")

print(x)

('I could eat bananas all day, ', 'bananas', ' are my favorite fruit')

In [163]:
txt="hi, salem, privet"
x=txt.rsplit(",")
print(x)

['hi', ' salem', ' privet']

In [165]:
txt="welcome to almaty"
x=txt.split()
print(x)

['welcome', 'to', 'almaty']

In [167]:
txt="Thank you for the help\nwelcome to Almaty"
x=txt.splitlines()
print(x)

['Thank you for the help', 'welcome to Almaty']

In [169]:
txt="Hello,welcome"
x=txt.startswith("hello")
print(x)

False

In [171]:
txt="helLo mY name"
x=txt.swapcase()
print(x)

HELlO My NAME

In [173]:
txt="Hello welcome to almaty"
x=txt.title()
print(x)

Hello Welcome To Almaty

In [175]:
txt="50"
x=txt.zfill(20)
print(x)

00000000000000000050