Python Booleans
1.Boolean Values

In [2]:
print(10>9)
print(10==9)
print(10<9)

True
False
False

In [4]:
a=222
b=33
if b>a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

2.Evaluate Values ans Variables

In [10]:
# Evaluate a string and a number
print(bool("Hello"))
print(bool(14))

True
True

In [12]:
# Evaluate two variables
x="Hello"
y=5
print(bool(x))
print(bool(y))

True
True

3.Most values are true

In [17]:
print(bool("abs"))
print(bool(12))
print(bool(["apple","banana","cherry"]))

True
True
True

In [19]:
# The following will return false;
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False

In [29]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

4.Functions can return a boolean

In [32]:
def myFunction():
    return True

print(myFunction())

True

In [34]:
def myfunc():
    return True

if myfunc():
    print("Yes")
else:
    print("No")

Yes

In [36]:
# isinstance()function ,which can be used to determine if an object is of a certain data type:
# check if an object is an integer or not;
x=20
print(isinstance(x,int))

True

5.Exercises

Python operators

In [40]:
# Python Arithmetic Operators
x=10
y=5
print(x+y) #Addition
print(x-y)#Subtraction
print(x*y) #Multiplication
print(x/y) #Division
print(x%y)#Modulus
print(x**y)#Exponentiation
print(x//y)#Floor division

15
5
50
2.0
0
100000
2

In [44]:
#Python Bitwise Operators
x=2 
y=5
print(x&y) #AND
print(x|y) #OR
print(x ^y) #XOR
print(~x) #NOT
print(x<<2)#Zero fill left shift
print(x>>2)#Signed right shift

0
7
7
-3
8
0

Python Lists

In [47]:
thislist=["a","b","c"]
print(thislist)

['a', 'b', 'c']

In [49]:
#Allow Duplicates
thislist = ["apple", "banana", "cherry", "apple", "cherry"]
print(thislist)

['apple', 'banana', 'cherry', 'apple', 'cherry']

In [51]:
#List Length
list=["2","6","9"]
print(len(list))

3

In [53]:
#List Items - Data Types
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [1]:
#A list with strings, integers and boolean values:
list1 = ["abc", 34, True, 40, "male"]

In [3]:
#type()
mylist = ["apple", "banana", "cherry"]
print(type(mylist))

<class 'list'>

In [5]:
#The list() Constructor
thislist = list(("apple", "banana", "cherry")) # note the double round-brackets
print(thislist)

['apple', 'banana', 'cherry']

1. Access List Items

List items are indexed and you can access them by referring to the indexx number:

In [2]:
List=["apple","banana","cherry"]
print(List[1])

banana

In [4]:
#Negative indexing
list=["banana","cherry","apple"]
print(list[-1])

apple

In [12]:
#range of indexes
list=["a","b","c","d","e","f","g"]
print(list[2:5])
#The search will start at index 2 (included) and end at index 5 (not included).

['c', 'd', 'e']

In [16]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(list[:4])

['a', 'b', 'c', 'd']

In [18]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(list[2:])

['c', 'd', 'e', 'f', 'g']

In [20]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(list[-4:-1])

['d', 'e', 'f']

In [22]:
#Check if Items Exists
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
if "apple" in thislist:
    print("Yes,it exists")

Yes,it exists

2.Change list Items

In [29]:
#Change Item Value
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist[1]="watermelon"
print(thislist)

['apple', 'watermelon', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [31]:
#Change a range of item values
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist[2:4]=["grapes","lemon"]
print(thislist)

['apple', 'banana', 'grapes', 'lemon', 'kiwi', 'melon', 'mango']

In [33]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist[1:2]=["lemon","pineapple"]
print(thislist)

['apple', 'lemon', 'pineapple', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [35]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist[1:3]=["watermelon"]
print(thislist)

['apple', 'watermelon', 'orange', 'kiwi', 'melon', 'mango']

In [37]:
#Insert Items
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist.insert(2,"watermelon")
print(thislist)

['apple', 'banana', 'watermelon', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

3.List Items

In [40]:
# Append Item:to add an item to the end of the list,use the append() method
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist.append("watermelon")
print(thislist)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'watermelon']

In [42]:
#Insert Item:To insert a list item at a specified index,use the insert() method:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
thislist.insert(1,"watermelon")
print(thislist)

['apple', 'watermelon', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

In [44]:
#Extend List:To append elements from another list to the current list,use the extend() list:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [46]:
#Add any iterable:The extend() method does not have to append lists,you can add any iterable object;
thislist = ["apple", "banana", "cherry"]
thistuple=("kiwi","lemon")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'lemon']

4.Remove list Items

In [49]:
#Remove specified item
thislist = ["apple", "banana", "cherry"]
thislist.remove("apple")
print(thislist)

['banana', 'cherry']

In [51]:
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.remove("banana")
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

In [57]:
#Remove specified index:the pop() method remove specified index
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.pop(1)
print(thislist)

['apple', 'cherry', 'banana', 'kiwi']

In [59]:
#If you do not specify the index, the pop() method removes the last item.
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
thislist.pop()
print(thislist)

['apple', 'banana', 'cherry', 'banana']

In [61]:
#The del keyword alse removes specified index
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
del thislist[0]
print(thislist)

['banana', 'cherry', 'banana', 'kiwi']

In [67]:
#the del keyword can alse delete the list completely
thislist = ["apple", "banana", "cherry", "banana", "kiwi"]
del thislist

In [69]:
#clear the list
#the clear() method empties the list,the list still ramains,but it has no content
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

5.Loop lists

In [72]:
#Loop Through a list
#You can loop through the list item by using for loop
thislist = ["apple", "banana", "cherry"]
for x in thislist:
    print(x)

apple
banana
cherry

In [76]:
#Loop through the Index Numbers
#You can loop through the list items by referring to their index number
thislist = ["apple", "banana", "cherry"]
for i in range(len(thislist)):
    print(thislist[i])

apple
banana
cherry

In [78]:
#Using a While loop
thislist = ["apple", "banana", "cherry"]
i=0
while i<len(thislist):
    print(thislist[i])
    i=i+1

apple
banana
cherry

In [82]:
#Loop using list Comprehension
#List comprehension offers a shortest syntax for looping through the list
thislist = ["apple", "banana", "cherry"]
[print (x) for x in thislist]

apple
banana
cherry

[None, None, None]

6.List comprehension

In [87]:
#for loop
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist=[]
for x in fruits:
    if 'a' in x:
        newlist.append(x)

print(newlist)

['apple', 'banana', 'mango']

In [1]:
#with list comprehension
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist=[x for x in fruits if "a" in x]
print(newlist)

['apple', 'banana', 'mango']

In [3]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist=[x for x in fruits if x!="apple"]
print(newlist)

['banana', 'cherry', 'kiwi', 'mango']

In [5]:
newlist=[x for x in range(10)]
print(newlist)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [7]:
newlist=[x for x in range(10) if x<5]
print(newlist)

[0, 1, 2, 3, 4]

In [9]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist=[x.upper() for x in fruits]
print(newlist)

['APPLE', 'BANANA', 'CHERRY', 'KIWI', 'MANGO']

In [11]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist=["banana" for x in fruits]
print(newlist)

['banana', 'banana', 'banana', 'banana', 'banana']

In [13]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist=[x if x != "banana" else "orange" for x in fruits]
print(newlist)

['apple', 'orange', 'cherry', 'kiwi', 'mango']

7.Sorts List

In [16]:
#Sort List Alphanumerically
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [18]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist)

[23, 50, 65, 82, 100]

In [26]:
#Sort Descending:Use th key word reverse=True
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [28]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

In [32]:
#Customize Sort Function
#You can also customize your own function by using the key word argument key=function
#The function will return a number that will be used to sort the list(the lowest number first)
def functionf(n):
    return abs(n-50)


thislist = [100, 50, 65, 82, 23]
thislist.sort(key=functionf)
print(thislist)

[50, 65, 23, 82, 100]

In [34]:
#Case Insensitive Sort
#by default the sort() method is case sensitive,resulting in all capital letters being sorted before lower case letter
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort()
print(thislist)

['Kiwi', 'Orange', 'banana', 'cherry']

In [38]:
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.sort(key = str.lower)
print(thislist)

['banana', 'cherry', 'Kiwi', 'Orange']

In [40]:
#Reverse Order
#the reverse() method reverses the current sorting older of the elements
thislist = ["banana", "Orange", "Kiwi", "cherry"]
thislist.reverse()
print(thislist)

['cherry', 'Kiwi', 'Orange', 'banana']

7.Copy a list

In [43]:
#Use the copy() method
# make a copy of a list with the copy() method
thislist = ["apple", "banana", "cherry"]
mylist=thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [45]:
#Use the list() method
thislist = ["apple", "banana", "cherry"]
mylist=list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

In [47]:
#Use the slice Operator
# make a copy of a list with the : operator
thislist = ["apple", "banana", "cherry"]
mylist=thislist[:]
print(mylist)

['apple', 'banana', 'cherry']

*.Join lists

In [50]:
#Join two list
list1 = ["a", "b", "c"]
list2 = [1, 2, 3]
list3=list1 + list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

In [56]:
#join two list by appending all the items from list2 into list1,one by one
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
for x in list2:
    list1.append(x)

print(list1)

['a', 'b', 'c', 1, 2, 3]

In [58]:
#use the extend() method ,where the purpose is add elements from one list to another list
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]
list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

Python Tuples

In [61]:
#A tuple is a collection which is ordered and unchangeble(write with round brackets)
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [63]:
#Allow Duplicates
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [65]:
#Tuple Length
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [67]:
#Create Tuple With One Item
thistuple=("apple",)
print(thistuple)

('apple',)

In [69]:
#Not a tuple
thistuple=("apple")
print(thistuple)

apple

In [71]:
#Create Tuple With One Item
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [75]:
tuple1 = ("abc", 34, True, 40, "male")
print(tuple1)

('abc', 34, True, 40, 'male')

In [77]:
#Tuples are defined as objects with the data type 'tuple'
#<class 'tuple'>
mytuple = ("apple", "banana", "cherry")
print(type(mytuple))

<class 'tuple'>

In [79]:
#The tuple() ConstructorThe tuple() Constructor
#using the tuple() methond to make a tuple
thistuple = tuple(("apple", "banana", "cherry"))
print(thistuple)

('apple', 'banana', 'cherry')

1.Access Tuple Items

In [82]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [84]:
#Negative Indexing
thistuple = ("apple", "banana", "cherry")
print(thistuple[-1])

cherry

In [86]:
#Range of Indexes
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [88]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[:4])

('apple', 'banana', 'cherry', 'orange')

In [90]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:])

('cherry', 'orange', 'kiwi', 'melon', 'mango')

In [92]:
#Range of Negative Indexes
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [94]:
#Check if Item Exists
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes")

Yes

2.Update Tuples

In [97]:
x = ("apple", "banana", "cherry")
y=list(x)
y[1]="lemon"
x=tuple(y)
print(x)

('apple', 'lemon', 'cherry')

In [105]:
#Add Items
#convert the tuple into a list,add "orange",and convert it back into a tuple:
thistuple = ("apple", "banana", "cherry")
y = list(thistuple)
y.append("orange")
thistuple = tuple(y)

In [109]:
#Remove Items
thistuple = ("apple", "banana", "cherry")
y=list(thistuple)
y.remove("apple")
new=tuple(y)
print(new)

('banana', 'cherry')

In [111]:
# The del ketword can delete the tuple completely
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)

NameError: name 'thistuple' is not defined

3.Unpack Tuples

In [114]:
fruits = ("apple", "banana", "cherry")
(green,red,yellow)=fruits
print(green)
print(red)
print(yellow)

apple
banana
cherry

In [116]:
#Using Asterisk*
#If the number of variables is less than the number of values,ou can add * to the variable name and the values will be assighned to the variable as list
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green,yellow,*red)=fruits
print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [118]:
#If the asterisk is added to another variable name than the last, Python will assign values to the variable until the number of values left matches the number of variables left
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
(green,*tropic,red)=fruits
print(green)
print(tropic)
print(red)

apple
['mango', 'papaya', 'pineapple']
cherry

4.Loop Tuples

In [121]:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
    print(x)

apple
banana
cherry

In [123]:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)):
    print(thistuple[i])

apple
banana
cherry

In [129]:
#Using a While Loop
thistuple = ("apple", "banana", "cherry")
i=0
while i<len(thistuple):
    print(thistuple[i])
    i=i+1

apple
banana
cherry

5.Join Tuples

In [134]:
#Join Two Tuples
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3=tuple1+tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [136]:
#Multiply Tuples
fruits = ("apple", "banana", "cherry")
mytuple=fruits*2
print(mytuple)

('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

6.Tuple Methods

In [139]:
#count()
#index()

Python Sets

In [142]:
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'apple', 'banana'}

In [144]:
thisset = {"apple", "banana", "cherry", "apple"}

print(thisset)

{'cherry', 'apple', 'banana'}

In [146]:
thisset = {"apple", "banana", "cherry", True, 1, 2}

print(thisset)

{True, 2, 'apple', 'cherry', 'banana'}

In [148]:
thisset = {"apple", "banana", "cherry", False, True, 0}

print(thisset)

{False, True, 'cherry', 'apple', 'banana'}

In [156]:
thisset = {"apple", "banana", "cherry"}
print(len(thisset))

3

In [158]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}

In [160]:
set1 = {"abc", 34, True, 40, "male"}

In [162]:
#type()
myset = {"apple", "banana", "cherry"}
print(type(myset))

<class 'set'>

In [164]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'cherry', 'apple', 'banana'}

1. Access Set Items

In [167]:
thisset = {"apple", "banana", "cherry"}
for i in thisset:
    print(i)

cherry
apple
banana

In [169]:
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)

True

In [171]:
thisset = {"apple", "banana", "cherry"}
print("banana" not in thisset)

False

2.Add Set Items

In [174]:
#add an item to the set,,using the add() method:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'cherry', 'apple', 'banana', 'orange'}

In [176]:
#Add sets
#To add item from another set into the current set,use the update() method:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.update(tropical)
print(thisset)

{'cherry', 'apple', 'banana', 'mango', 'pineapple', 'papaya'}

In [182]:
#Add Any Iterable
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'cherry', 'apple', 'banana', 'orange', 'kiwi'}

3.Remove Set Items

In [187]:
#using remove() method
#thisset = {"apple", "banana", "cherry"}
thisset.remove("apple")
print(thisset)

{'cherry', 'banana'}

In [189]:
#using discard() method
thisset = {"apple", "banana", "cherry"}
thisset.discard("banana")
print(thisset)

{'cherry', 'apple'}

In [191]:
#using pop() method
thisset = {"apple", "banana", "cherry"}
x=thisset.pop()
print(x)
print(thisset)

cherry
{'apple', 'banana'}

In [193]:
#clear() method empties the set
thisset = {"apple", "banana", "cherry"}
thisset.clear()
print(thisset)

set()

In [205]:
thisset = {"apple", "banana", "cherry"}

del thisset

print(thisset)

NameError: name 'thisset' is not defined

4.Loop Sets

In [208]:
thisset = {"apple", "banana", "cherry"}
for i in thisset:
    print(i)

cherry
apple
banana

5.Join Sets

In [211]:
#Union
#The union() method returns a new set with all items from both set
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}

set3=set1.union(set2)
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

In [213]:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3=set1|set2
print(set3)

{1, 2, 3, 'a', 'c', 'b'}

In [215]:
#Join Multiple Sets
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}

myset=set1.union(set1,set2,set3,set4)
print(myset)

{'bananas', 1, 2, 3, 'cherry', 'Elena', 'apple', 'John', 'a', 'c', 'b'}

In [217]:
#Use | to join two sets:
set1 = {"a", "b", "c"}
set2 = {1, 2, 3}
set3 = {"John", "Elena"}
set4 = {"apple", "bananas", "cherry"}
myset=set1|set2|set3|set4
print(myset)

{'bananas', 1, 2, 3, 'cherry', 'Elena', 'apple', 'John', 'a', 'c', 'b'}

In [219]:
#Join a Set and a Tuple
x = {"a", "b", "c"}
y = (1, 2, 3)
z=x.union(y)
print(z)

{1, 2, 3, 'a', 'c', 'b'}

In [221]:
#Update
#The update() method inserts the items in set2 into set1:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{1, 2, 3, 'a', 'c', 'b'}

In [223]:
#Intersection
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3=set1.intersection(set2)
print(set3)

{'apple'}

In [225]:
#Use & to join two sets:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set3=set1 &set2
print(set3)

{'apple'}

In [231]:
#Keep the items that exist in both set1, and set2:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}

set1.intersection_update(set1)
print(set1)

{'cherry', 'apple', 'banana'}

In [233]:
set1 = {"apple", 1,  "banana", 0, "cherry"}
set2 = {False, "google", 1, "apple", 2, True}
set3=set1.intersection(set2)
print(set3)

{False, 1, 'apple'}

In [235]:
#Difference
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3=set1.difference(set2)
print(set3)

{'cherry', 'banana'}

In [237]:
#Use - to join two sets:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3=set1-set2
print(set3)

{'cherry', 'banana'}

In [239]:
#Use the difference_update() method to keep the items that are not present in both sets:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.difference_update(set2)
print(set1)

{'cherry', 'banana'}

In [241]:
#Symmetric Differences
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.symmetric_difference(set2)
print(set1)

{'cherry', 'apple', 'banana'}

In [243]:
#Use ^ to join two sets:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set3=set1^set2
print(set3)

{'google', 'cherry', 'microsoft', 'banana'}

In [245]:
#Use the symmetric_difference_update() method to keep the items that are not present in both sets:
set1 = {"apple", "banana", "cherry"}
set2 = {"google", "microsoft", "apple"}
set1.symmetric_difference_update(set2)
print(set1)

{'cherry', 'microsoft', 'google', 'banana'}

Python Dictionaries

In [248]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [250]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(thisdict["brand"])

Ford

In [252]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
print(type(thisdict))

<class 'dict'>

In [254]:
#Using the dict() method to make a dictionary:
thisdict=dict(age=36,name="patamgul",contry="baigaistan")
print(thisdict)

{'age': 36, 'name': 'patamgul', 'contry': 'baigaistan'}

1.Access Dictionary Items

In [257]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
x = thisdict["model"]
print(x)

Mustang

In [259]:
thisdict={
    "brand":"Ford",
    "model":"Mustang",
    "year":1964
}
x=thisdict.get("model")
print(x)

Mustang

In [263]:
thisdict={
    "brand":"Ford",
    "model":"Mustang",
    "year":1964
}
x=thisdict.keys()
print(x)

dict_keys(['brand', 'model', 'year'])

In [265]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x=car.keys()
print(x)
car["color"]="black"
print(x)

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])

In [269]:
#Get Values
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x=car.values()
car["year"]=2025

print(x)

dict_values(['Ford', 'Mustang', 2025])

In [271]:
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x=car.values()
car["color"]="red"
print(x)

dict_values(['Ford', 'Mustang', 1964, 'red'])

In [277]:
#Get Items
car = {
"brand": "Ford",
"model": "Mustang",
"year": 1964
}
x=car.items()
print(x)
car["year"]=2020
print(x)

dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964)])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020)])

In [279]:
#Check if Key Exists
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
if "model" in thisdict:
    print("Yes, 'model' is one of the keys in the thisdict dictionary")

Yes, 'model' is one of the keys in the thisdict dictionary

2.Change Dictionary Items

In [284]:
#Change Values
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["year"]=28
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 28}

In [288]:
#Update Dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"year":28})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 28}

3.Add Dictionary Items

In [295]:
#Adding Items
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict["color"]="red"
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

In [297]:
#Update Dictionary
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.update({"color": "red"})
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'red'}

4.Remove Items

In [300]:
#Removing Items
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [302]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.popitem()
print(thisdict)

{'brand': 'Ford', 'model': 'Mustang'}

In [304]:
#The del keyword removes the item with the specified key name:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

In [306]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.clear()
print(thisdict)

{}

5.Copy Dictionaries

In [310]:
#Make a copy of a dictionary with the copy() method:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict=thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [312]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict=dict(thisdict)
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

6.Nested Dictionaries

In [315]:
myfamily = {
  "child1" : {
    "name" : "Emil",
    "year" : 2004
  },
  "child2" : {
    "name" : "Tobias",
    "year" : 2007
  },
  "child3" : {
    "name" : "Linus",
    "year" : 2011
  }
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [317]:
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily)

{'child1': {'name': 'Emil', 'year': 2004}, 'child2': {'name': 'Tobias', 'year': 2007}, 'child3': {'name': 'Linus', 'year': 2011}}

In [321]:
#Access Items in Nested Dictionaries
child1 = {
  "name" : "Emil",
  "year" : 2004
}
child2 = {
  "name" : "Tobias",
  "year" : 2007
}
child3 = {
  "name" : "Linus",
  "year" : 2011
}

myfamily = {
  "child1" : child1,
  "child2" : child2,
  "child3" : child3
}
print(myfamily["child2"]["name"])

Tobias

In [323]:
#You can loop through a dictionary by using the items() method like this:
for x, obj in myfamily.items():
  print(x)

  for y in obj:
    print(y + ':', obj[y])

child1
name: Emil
year: 2004
child2
name: Tobias
year: 2007
child3
name: Linus
year: 2011

Python If ... Else

In [326]:
a = 33
b = 200
if b > a:
  print("b is greater than a")

b is greater than a

In [328]:
a = 33
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")

a and b are equal

In [330]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

In [332]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [342]:
a=int(input())
b=int(input())
if a > b: print("a is greater than b")

 3
 1

a is greater than b

In [ ]:
a = 2
b = 330
print("A") if a > b else print("B")

In [344]:
a = 330
b = 330
print("A") if a > b else print("=") if a == b else print("B")

=

In [346]:
#and
a = 200
b = 33
c = 500
if a > b and c > a:
  print("Both conditions are True")

Both conditions are True

In [348]:
#or
a = 200
b = 33
c = 500
if a > b or a > c:
  print("At least one of the conditions is True")

At least one of the conditions is True

In [350]:
#not
a = 33
b = 200
if not a > b:
  print("a is NOT greater than b")

a is NOT greater than b

In [354]:
#Nested If
x = 41

if x > 10:
  print("Above ten,")
  if x > 20:
    print("and also above 20!")
  else:
    print("but not above 20.")

Above ten,
and also above 20!

In [358]:
#The pass Statement
a = 33
b = 200

if b > a:
  pass

Python While Loops

In [361]:
#The while Loop
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [365]:
#The break Statement
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

In [367]:
#The continue Statement
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [369]:
#The else Statement
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

In [373]:
#Python For Loops
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

In [375]:
#Looping Through a String
for x in "banana":
  print(x)

b
a
n
a
n
a

In [377]:
#The break Statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [379]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

apple

In [381]:
#The continue Statement
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [383]:
#The range() Function
for x in range(6):
  print(x)

0
1
2
3
4
5

In [385]:
for x in range(2, 6):
  print(x)

2
3
4
5

In [387]:
for x in range(2, 30, 3):
  print(x)

2
5
8
11
14
17
20
23
26
29

In [389]:
#Else in For Loop
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [391]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

In [393]:
#Nested Loops
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [395]:
#The pass Statement
for x in [0, 1, 2]:
  pass